body
{
    margin: 0;
    font-family: 'comic sans ms';
}

.normal_text
{
    margin-left:2vw;
    font-size: 1.5vw;
}

.top_container > .bar
{
    height: 5vw;
    background-color: slateblue;
    opacity:0.9;
    margin-top: -5vw;
}

.top_container
{
    height:25vw;
    text-align: center;
}

.top_container > img
{
    height:auto;
    width:100%;
    left: 50%;
    margin: auto;
}

#title
{
    font-size: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-top:-45vw;
    padding: 20vw;
    color:white;
    margin-bottom:0vw;
    text-shadow: 0px 0px 1vw navy;
}

.hidden
{
    opacity: 0;
    transform: translateY(5vw);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.visible
{
    opacity: 1;
    transform: translateY(0);
}

header
{
    height: 4vw;
    background-color:whitesmoke;
    width: 100%;
    position:sticky;
    top:0;
    margin-top: 0;
    z-index: 10;
    font-size:1.2vw;
    color:whitesmoke;
    box-shadow: 0px 0px 4px slategrey;
}

header > div > p
{
    margin-left:1em;
    top:5em;
}

header > img
{
    position:absolute;
    height:100%;
}

header > a > img
{
    position:absolute;
    height:100%;
}

