html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    font-family: 'comic sans ms';
}

.normal_text
{
    margin-left:2vw;
    font-size: 1.4vw;
    line-height: 2.2;
}

.image_container > .bar
{
    height: 5vw;
    background-color: slateblue;
    opacity:0.8;
}

.image_container
{
    height:25vw;
    text-align: center;
}

.image_container > img
{
    height:auto;
    width:100%;
    left: 50%;
    margin: auto;
}

#subtitle
{
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    margin-top:-37vw;
    padding: 20vw;
    color:white;
    margin-bottom:0vw;
    text-shadow: 0px 0px 1vw navy;
}

#title
{
    font-size: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-top:-45vw;
    padding: 20vw;
    color:white;
    margin-bottom:0vw;
    text-shadow: 0px 0px 1vw navy;
}



.hidden
{
    opacity: 0;
    transform: translateY(5vw);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.visible
{
    opacity: 1;
    transform: translateY(0);
}

header
{
    height: 4vw;
    background-color:whitesmoke;
    width: 100%;
    position:sticky;
    top:0;
    margin-top: 0;
    z-index: 10;
    font-size:1.2vw;
    color:whitesmoke;
    box-shadow: 0px 0px 4px slategrey;
}

header > div > p
{
    margin-left:1em;
    top:5em;
}

header > img
{
    position:absolute;
    height:100%;
}

header > a > img
{
    position:absolute;
    height:100%;
}


.flag-text-container
{
    display:flex;
    padding:2vw;
    padding-left:8vw;
    padding-right:8vw;
}

.flag-text-container > img
{
    display:flexbox;
    width:15vw;
    height:10vw;
}

.flag-text-container > p
{
    display:flexbox;
}

.source-container
{
    padding:8vw;
    margin-top:-12vw;
    padding-bottom:4vw;
}

.source-container > li
{
    padding-top:2vw;
}

#contenttable
{
    display:block;
    margin-bottom:4vw;
    list-style-type: none;
    height:26vw;
    background-color: slateblue;
    padding:0;
    border-radius: 0.6vw;
}

#contenttable > li
{
    margin-bottom:2vw;
    width:110%;
    margin-left:-5%;
}

#contenttable > li > a
{

    padding: 2vw;
    height:auto;
    display:block;
    transition: background-color 0.2s ease;
    border-radius: 0.4vw;
    color:whitesmoke;
    text-decoration: none;
    font-size: 1.2vw;
}

#contenttable > li > a:active
{
    color: navy;
}

#contenttable > li > a:hover
{
    color: whitesmoke;
    background-color: darkslateblue;
}

#first_content
{
    background-color:salmon;
}
#second_content
{
    background-color:goldenrod;
}
#tertiary_content
{
    background-color:mediumseagreen;
}
#quad_content
{
    background-color:cornflowerblue;
}

a
{
    font-size:1vw;
}

#intro
{
    display:flex;
    padding:8vw;
    margin-top:
    18vw;
}